header{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 30;
}
header a{
    display: block;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-weight: bold;
    font-size: 70%;
    line-height: 1.5rem;
}
header a:hover{
    text-decoration: none;
    color: white;
}
#menu{
    background-color: #001938;
    float: left;
}
#ticket{
    background-color: #E75405;
    float: left;
}
section#hello{
    position: relative;
}
#background-img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -99;
}
section#hello h1{
    font-family: 'Rokkitt', serif;
    font-weight: 700;
    font-size: 5rem;
    color: #FFCD3D;
}